DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
# Used to validate preview requests
PREVIEW_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_BASE_URL=<REPLACE_YOUR_BASE_URL>
# Used as key for cookies e. g.
NEXT_PUBLIC_SITE_SHORTCUT=<OPTIONAL_SITE_SHORTCUT>
# Define the local schema type
NEXT_PUBLIC_SCHEMA_TYPE=<OPTIONAL_SCHEMA_TYPE>