DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

NEXT_PUBLIC_BASE_URL=<REPLACE_YOUR_BASE_URL>
NEXT_PUBLIC_SITE_SHORTCUT=<OPTIONAL_SITE_SHORTCUT>
NEXT_PUBLIC_SCHEMA_TYPE=<OPTIONAL_SCHEMA_TYPE>